<a href="https://colab.research.google.com/github/FirySnehasis/InvestX/blob/main/Code1Assignmnet1Invest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##############  Here I have calculated the Average Directional Index ########################


import numpy as np
import pandas as pd
import yfinance as yf
import math

In [2]:
data = yf.download("AAPL", start="2017-01-01", end="2017-04-30")
data['tr1']=data['High']-data['Low']
data['tr2']=data['High']-data['Close'].shift(1)
data['tr3']=data['Low']-data['Close'].shift(1)
data['Positive DM'] = data['High']
data['Negative DM'] = data['Low']

[*********************100%***********************]  1 of 1 completed

In [3]:
data['True Range'] = data[['tr1', 'tr2', 'tr3']].apply(lambda x: max(x), axis=1)

In [4]:
######################################### Positive DM ##################################

for i in range(81):
  if(data.iloc[i,1]-data.iloc[i-1,1]>data.iloc[i-1,2]-data.iloc[i,2]):
    data.iloc[i,9] =  data.iloc[i,1]-data.iloc[i-1,1]
  else:
      data.iloc[i,9] = 0
########################################## Negative DM #################################
for i in range(81):
  if(data.iloc[i-1,2]-data.iloc[i,2]>data.iloc[i,1]-data.iloc[i-1,1]):
    data.iloc[i,10] =  data.iloc[i-1,2]-data.iloc[i,2]
  else:
      data.iloc[i,10] = 0

In [5]:
period=17
data['ATR']=data['True Range'].rolling(period).mean()

In [6]:
############################# To get +DI and -DI #######################

data['Plus DI'] = 100 * (data['Positive DM'].ewm(alpha = 1/(period)).mean() /data['ATR'])
data['Minus DI'] = 100 * (data['Negative DM'].ewm(alpha = 1/(period)).mean() /data['ATR'])

############################# To get DI ##############################

data['DI'] = (abs(data['Plus DI'] - data['Minus DI']) / abs(data['Plus DI'] + data['Minus DI'])) * 100

In [7]:
########################### To get ADX and smoothed ADX ############################

data['ADX'] = ((data['DI'].shift(1) * (period - 1)) + data['DI']) / (period)
data['ADX Smooth'] = data['ADX'].ewm(alpha = 1/(period)).mean()

In [8]:
data

,Open,High,Low,Close,Adj Close,Volume,tr1,tr2,tr3,Positive DM,Negative DM,True Range,ATR,Plus DI,Minus DI,DI,ADX,ADX Smooth
Date,,,,,,,,,,,,,,,,,,
2017-01-03,28.950001,29.082500,28.690001,29.037500,27.095850,115127600,0.392500,NaN,NaN,0.000000,7.127501,0.392500,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,28.962500,29.127501,28.937500,29.004999,27.065517,84472400,0.190001,0.090000,-0.100000,0.045000,0.000000,0.190001,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,28.980000,29.215000,28.952499,29.152500,27.203154,88774400,0.262501,0.210001,-0.052500,0.087500,0.000000,0.262501,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,29.195000,29.540001,29.117500,29.477501,27.506430,127007600,0.422501,0.387501,-0.035000,0.325001,0.000000,0.422501,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-09,29.487499,29.857500,29.485001,29.747499,27.758375,134247600,0.372499,0.379999,0.007500,0.317499,0.000000,0.379999,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-24,35.875000,35.987499,35.794998,35.910000,33.654083,68537200,0.192501,0.419998,0.227497,0.317501,0.000000,0.419998,0.347941,25.809191,16.432166,22.198683,11.423387,28.141606
2017-04-25,35.977501,36.224998,35.967499,36.132500,33.862610,75486000,0.257500,0.314999,0.057499,0.237499,0.000000,0.314999,0.351765,28.020556,15.288943,29.396815,22.622102,27.808683
2017-04-26,36.117500,36.150002,35.845001,35.919998,33.663464,80164800,0.305000,0.017502,-0.287498,0.000000,0.122498,0.305000,0.351177,26.402624,16.475241,23.152699,29.029514,27.882211
2017-04-27,35.980000,36.040001,35.827499,35.947498,33.689220,56985200,0.212502,0.120003,-0.092499,0.000000,0.017502,0.212502,0.347941,25.068205,15.940787,22.257115,23.100018,27.594594
2017-04-28,36.022499,36.075001,35.817501,35.912498,33.656422,83441600,0.257500,0.127502,-0.129997,0.035000,0.000000,0.257500,0.337794,24.905077,15.446606,23.440090,22.326701,27.278184

In [9]:
data['ADX Smooth']

Date
2017-01-03          NaN
2017-01-04          NaN
2017-01-05          NaN
2017-01-06          NaN
2017-01-09          NaN
                ...
2017-04-24    28.141606
2017-04-25    27.808683
2017-04-26    27.882211
2017-04-27    27.594594
2017-04-28    27.278184
Name: ADX Smooth, Length: 81, dtype: float64

In [10]:
data

,Open,High,Low,Close,Adj Close,Volume,tr1,tr2,tr3,Positive DM,Negative DM,True Range,ATR,Plus DI,Minus DI,DI,ADX,ADX Smooth
Date,,,,,,,,,,,,,,,,,,
2017-01-03,28.950001,29.082500,28.690001,29.037500,27.095850,115127600,0.392500,NaN,NaN,0.000000,7.127501,0.392500,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,28.962500,29.127501,28.937500,29.004999,27.065517,84472400,0.190001,0.090000,-0.100000,0.045000,0.000000,0.190001,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,28.980000,29.215000,28.952499,29.152500,27.203154,88774400,0.262501,0.210001,-0.052500,0.087500,0.000000,0.262501,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,29.195000,29.540001,29.117500,29.477501,27.506430,127007600,0.422501,0.387501,-0.035000,0.325001,0.000000,0.422501,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-09,29.487499,29.857500,29.485001,29.747499,27.758375,134247600,0.372499,0.379999,0.007500,0.317499,0.000000,0.379999,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-24,35.875000,35.987499,35.794998,35.910000,33.654083,68537200,0.192501,0.419998,0.227497,0.317501,0.000000,0.419998,0.347941,25.809191,16.432166,22.198683,11.423387,28.141606
2017-04-25,35.977501,36.224998,35.967499,36.132500,33.862610,75486000,0.257500,0.314999,0.057499,0.237499,0.000000,0.314999,0.351765,28.020556,15.288943,29.396815,22.622102,27.808683
2017-04-26,36.117500,36.150002,35.845001,35.919998,33.663464,80164800,0.305000,0.017502,-0.287498,0.000000,0.122498,0.305000,0.351177,26.402624,16.475241,23.152699,29.029514,27.882211
2017-04-27,35.980000,36.040001,35.827499,35.947498,33.689220,56985200,0.212502,0.120003,-0.092499,0.000000,0.017502,0.212502,0.347941,25.068205,15.940787,22.257115,23.100018,27.594594
2017-04-28,36.022499,36.075001,35.817501,35.912498,33.656422,83441600,0.257500,0.127502,-0.129997,0.035000,0.000000,0.257500,0.337794,24.905077,15.446606,23.440090,22.326701,27.278184